.main{

background-color: #415a77;

}

#name{
    margin-left: 5%;
    font-family: "Special Gothic Expanded One", sans-serif;
    font-weight: 400;
    font-style: normal;
}

#job_title{
    margin-left: 27%;
    margin-top: 5%;
    font-family: "Special Gothic Expanded One", sans-serif;
    font-weight: 400;
    font-style: normal;
    color: aliceblue;
}

#headshot{
    border-radius: 50%;
    width: 360px;
    height: 360px;
    margin-left: 37%;
    margin-top: 2%;
}

#right-nav{
    margin-left: 80%;
    font-size: larger;
}

.btn{
    position: absolute;
}

#Networking{
    top: 40%;
    left: 28%;
}

#Ethical-Hacking{
    top: 50%;
    left: 25%;
}

#Resume{
    top: 60%;
    left: 28%;
}
#Security{

    top: 40%;
    left: 62%;
}
#Programming{
    top: 50%;
    left: 63%;
}

#Projects{
    top: 60%;
    left: 62%;
}

