body {
    background-color: #F5F7FA;
    color: #374151;
    margin: 0;
    padding: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.navbar {
    background-color: #1F2937;
}

#right-nav a {
    color: #F5F7FA;
    margin: 0 10px;
    transition: color 0.3s ease;
}

#right-nav a:hover {
    color: #3B82F6;
}

#right-nav {
    margin-left: auto;
    font-size: larger;
}

#name{
    margin-left: 5%;
    font-family: "Special Gothic Expanded One", sans-serif;
    font-weight: 400;
    font-style: normal;
    color: #F5F7FA;
}

h1{
    margin-top: 3%;
    margin-bottom: 4%;
    text-align: center;
    font-family: "Special Gothic Expanded One", sans-serif;
    font-weight: 400;
    font-style: normal;
    color: #111827;
}

.main_cont{ 
    background-color: #1f2937ec;
    width: 90%;
    max-width: 800px;
    margin: 20px auto;
    padding: 25px;
    border-radius: 10px;
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.05);
    border: 1px solid #E5E7EB;
}

.skill_title{
    display: block;
    text-align: center;
    margin: 15px 0;
    padding: 10px;
    font-weight: bold;
    color: #111827;
}
.skill_bar{
    gap: 15px;
    margin-top: 4%;
    flex-wrap: wrap;
    background-color: #FFFFFF;
    border-radius: 10px;
    padding: 15px;
    border: 1px solid #E5E7EB;
    box-shadow: 0 2px 5px rgba(0,0,0,0.03);
}

/* .progress{
    display: block;
} */

h5{
    text-align: center;
    font-family: "Special Gothic Expanded One", sans-serif;
    font-size: 1rem;
}

p{
    margin-left: auto;
    text-align: center;
    /* justify-content: center; */
    /* align-items: center; */
}



/* Media Queries: Responsive adjustments for smaller screens */
@media (max-width: 768px) {
  h1 {
    font-size: 1.5rem;
    margin-top: 20px;
    margin-bottom: 20px;
  }

  .main_cont {
    width: 90%;
    padding: 15px;
  }

  .skill_bar {
    margin-top: 20px;
    padding: 15px;
  }

  .skill_title {
    font-size: 1.1rem;
  }

  p {
    margin-left: 0;
    text-align: center;
  }

  table {
    width: 100%;
  }

  #name {
    font-size: 1.1rem;
    margin-left: 10px;
  }

  #right-nav {
    margin-left: 0;
    text-align: c
  }
}